$primaryColor: rgb(89, 132, 142);; 
$secondaryColor: rgb(246, 240, 231);
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont:"Cormorant Garamond", serif;
$headerFont: "Playfair Display", serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;